@using Sandbox;
@using Sandbox.UI;
@using Sandbox.player;

@namespace Sandmbit
@inherits RootPanel
@attribute [StyleSheet]

<root>
    <ChatBox/>
    <VoiceList/>

    <div class="header">
        @*<label>Gambit</label>*@
        @{var motes = LocalPawn().Motes;}

        <label>@motes.Motes | Collected@(motes.Motes == motes.MaxMotes ? " (Max)" : "")</label>
        @if (@motes.AffordableBlocker() != BlockerType.None)
        {   
            <i class="hudlabel destiny-keys">@motes.AffordableBlocker().Glyph() | Deposit for @motes.AffordableBlocker() Blocker</i>
        }
    </div>

    @*<i class="hudlabel destiny-keys"> Deposit motes</i>*@
</root>

<style>
    .hudlabel {
        font-size: 32px;
        color: #fff;
    }

    .destiny-keys {
        font-family: Destiny_Keys;
    }
</style>

@code
{
    Pawn LocalPawn()
    {
        return Game.LocalPawn as Pawn;
	}
}