// Font
$mainFont: "Quantico-Regular";
$fontBold: "Quantico-Bold";

// Colours
$red: #cf3131;
$blue: #60d8d3;
$green: #69d636;
$light-blue: #a3e2e0;
$light-red: #efc3c3;
$dark-grey: #1b1a1a;
$yellow: #e4c113;

$dull-blue: #536b6b;
$dull-red: #501e1e;

$panel-bg: rgba(#000, 0.7);
$panel-bg-light: rgba(#000, 0.5);

$default-blur: 10px;
$blur-medium: 5px;
$text-shadow: 0 1px 0 rgba(#000, 0.2);

// Blue
$blueTeamIcon: url(/ui/icons/blue.png);
$blueTeamTint: $blue;
$blueTeamColor: $blue;
$blueTeamShadow: 0px 0px 6px rgba(0 255 255 1);
$blueTeamPanelBorder: 1px solid rgba(18 210 255 0.05);
$blueTeamPanelBg: rgba(18 210 255 0.1);
$blueTeamPanelFg: rgba(18 210 255 0.05);
$blueTeamBackground: 0px 0px 32px 0px rgba(18 210 255 0.05);
$blueTeamForeground: 0px 0px 32px 0px rgba(18 210 255 0.1);

// Red
$redTeamIcon: url(/ui/icons/red.png);
$redTeamTint: $red;
$redTeamColor: $red;
$redTeamShadow: 0px 0px 6px rgba(255 0 0 0.3);
$redTeamPanelBorder: 1px solid rgba(255 75 75 0.05);
$redTeamPanelBg: rgba(255 75 75 0.1);
$redTeamPanelFg: rgba(255 75 75 0.05);
$redTeamBackground: 0px 0px 32px 0px rgba(255 75 75 0.05);
$redTeamForeground: 0px 0px 32px 0px rgba(255 75 75 0.1);


Nameplate {
    align-items: center;
    justify-content: center;

    .container {
        font-weight: bold;
        color: lighten( $blueTeamColor, 1 );
        font-size: 80px;
        border-radius: 80px;
        align-items: center;
        justify-content: center;
        box-shadow: $blueTeamBackground;
        background-color: $blueTeamPanelBg;
        border: $blueTeamPanelBorder;
        background-size: cover;
        position: absolute;
        padding: 16px 48px;

        .name {
            font-family: Roboto;
            color: rgba(255 255 255 1);
        }
    }

    .dot {
        background-color: $blueTeamColor;
        box-shadow: $blueTeamForeground;
        border: $blueTeamPanelBorder;
        position: absolute;
        border-radius: 50%;
        width: 96px;
        height: 96px;
    }

    &.hidden {
        display: none;
    }

    &.team_red {
        .dot {
            background-color: $redTeamColor;
            box-shadow: $redTeamForeground;
            border: $redTeamPanelBorder;
        }

        .container {
            box-shadow: $redTeamBackground;
            background-color: $redTeamPanelBg;
            border: $redTeamPanelBorder;
            color: lighten( $redTeamColor, 0.6 );
        }
    }
}
